<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <hr class='doc-bar'> </hr>
    <b>Status</b><br>
    {{ page.status }}<br>
    <b>Authors</b><br>
    {{ page.authors | join: ', ' }}<br>
    <b>Last edit</b><br>
    {{ page.lastchange }}
    <hr class='doc-bar'> </hr>
    <b>Related</b><br>
    <ul>
      {% for doc in site.docs %}
        {% if doc.theme == page.theme %}
          <li><a href="{{ site.url | append: site.baseurl | append: doc.permalink }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr class='doc-bar'> </hr>
  </aside>
</div>
