{% assign doc_id = page.url | split: '/' | last %}
{% for theme in site.data.docs %}
    {% if theme.docs contains doc_id %}
      {% assign theme_docs = theme.docs %}
      {% assign theme_title = theme.title %}
    {% endif %}
{% endfor %}
<div class="unit one-fifth hide-on-mobiles">
    <aside>
    <hr class='doc-bar'>
    Also in <i>{{ theme_title }}</i>:<br>
    <ul>
      {% for doc in site.docs %}
        {% assign doc_id = doc.url | split: '/' | last %}
        {% if theme_docs contains doc_id %}
          <li><a href="{{ base }}{{ doc.permalink }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr class='doc-bar'>
    </aside>
</div>
