{% if page.title == "Home" %}
  <h1>
      {{ site.title }}
  </h1>
  {{ site.subtitle }}
{% elsif page.title == "Index" %}
  <h1>
      {{ site.title }}
  </h1>
  Index
{% elsif page.title == "News" %}
  <h1>
      {{ site.title }}
  </h1>
  News
{% else %}
  <h1>
    {{ page.title }}
  </h1>
{% endif %}
{% if page.layout == "doc" %}
  <b>Author(s)</b>: {{ page.authors | join: ', ' }}<br>
  <b>Status</b>: {{ page.status | capitalize }}<br>
  <b>Last edit</b>: {{ page.lastchange }}
  {% if page.source %}
    <br><p style="font-size:small">
      The content below is based on material provided by:<br>
      <a href="{{ page.source }}">{{ page.source_author }}</a>
    <br><b></b>
  {% endif %}
{% endif %}
