<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="edit-message">
          <p>
          Authors: {{ page.authors }}<br>
          Last edit: {{ page.lastchange }}<br>
          Want to change something? Click <a href="{{ page.url | split: '/' | last | prepend: site.docurl }}.md">here</a> to edit.
          </p>
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
